<p>tareas-simple works!</p>
<alt-instrucciones [autor]="'Pepito'">
    <h2>Instrucciones de las tareas</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus sit praesentium, animi porro maiores, molestias veniam aspernatur non voluptatibus aut blanditiis quis autem adipisci commodi eaque ipsam ex modi libero dolores! Rerum dignissimos
        saepe accusamus! Consequatur, in eligendi vero magni nesciunt delectus unde commodi quidem minima tempora, saepe recusandae maiores neque fugiat deserunt expedita dicta dolor laboriosam veritatis et doloribus! Laboriosam architecto enim asperiores
        aliquam eveniet, earum harum sapiente fugiat explicabo totam delectus atque unde minima. Est eligendi rem molestias, ab, saepe voluptates dolor amet consequuntur impedit cumque nisi in deleniti nesciunt non. Officia autem labore explicabo. Voluptatum,
        sunt eaque?</p>
    <p>{{ texto | truncar }}</p>
</alt-instrucciones>